{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/slider/slider01.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider02.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider03.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- End Slider -->

<!-- Latest courses -->
<main class="container">
    <section class="home-courses">
        <h2 class="my-5 text-black-50">Nos dernières formations</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img alt="" src="http://placehold.it/1000X400" style="height: 200px; width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">Formation 01</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">En savoir plus...</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img alt="" src="http://placehold.it/1000X400" style="height: 200px; width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">Formation 02</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">En savoir plus...</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img alt="" src="http://placehold.it/1000X400" style="height: 200px; width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">Formation 03</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">En savoir plus...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Latest courses -->

    <!-- Latest news -->
    <div class="home-news">
        <h2 class="my-5 text-black-50">Nos dernières actualités</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="http://placehold.it/400X450" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Actualité 01</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cumque delectus distinctio dolor ex maxime minima odio provident reiciendis? Accusantium id iste similique sint!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p class="float-end"><small><a href="">Lire plus...</a></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="http://placehold.it/400X450" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Actualité 01</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cumque delectus distinctio dolor ex maxime minima odio provident reiciendis? Accusantium id iste similique sint!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p class="float-end"><small><a href="">Lire plus...</a></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="http://placehold.it/400X450" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Actualité 01</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cumque delectus distinctio dolor ex maxime minima odio provident reiciendis? Accusantium id iste similique sint!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p class="float-end"><small><a href="">Lire plus...</a></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="http://placehold.it/400X450" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Actualité 01</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cumque delectus distinctio dolor ex maxime minima odio provident reiciendis? Accusantium id iste similique sint!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p class="float-end"><small><a href="">Lire plus...</a></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Latest news -->

    <!-- Cool Links -->
    <section>
        <h2 class="my-5 text-black-50">Informations importantes</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-calendar"></i> HORAIRES</div>
                    <div class="card-body">
                        <h4 class="card-title">Horaires de 2019-2020</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-info-square"></i> INFORMATIONS</div>
                    <div class="card-body">
                        <h4 class="card-title">Scéance d'informations</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-ui-edit"></i> INSCRIPTION</div>
                    <div class="card-body">
                        <h4 class="card-title">Documents d'inscription</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Cool Links -->
</main>
{% endblock %}
