{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Contact{% endblock %}

{% block body %}
     <main class="container">
          <section class="row">
               <div class="col-md-8 offset-2">
                    <h2 class="display-3">Nous contacter</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-outline-secondary">Envoyer</button>
                    {{ form_end(form) }}
               </div>
          </section>
     </main>
{% endblock %}